<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infjay.mice" >

    <permission
        android:name="com.example.administrator.myapplication.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.testgooglemap.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <!-- GCM 받기 -->
    <uses-permission android:name="com.infjay.mice.permission.C2D_MESSAGE" />
    <permission android:name="com.infjay.mice.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app_mc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBkJ7yPTvaC7UNAtmfD05BBL3gUYgJG2WE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
,

        <!--
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        -->

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_activity_facebook_login" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AgendaActivity"
            android:label="Agenda" >
        </activity>
        <activity
            android:name=".MyBriefCaseActivity"
            android:label="MyBriefCase" >
        </activity>
        <activity
            android:name=".CouponActivity"
            android:label="Coupon" >
        </activity>
        <activity
            android:name=".MessengerActivity"
            android:label="Messege" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="Map" >
        </activity>
        <activity
            android:name=".SurveyActivity"
            android:label="Survey" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="Search" >
        </activity>
        <activity
            android:name=".SponsorActivity"
            android:label="Sponsor" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="Setting" >
        </activity>
        <activity
            android:name=".MyBusinessCardActivity"
            android:label="MyBusinessCard" >
        </activity>
        <activity
            android:name=".MyCardHolderActivity"
            android:label="MyCardHolder" >
        </activity>
        <activity
            android:name=".MemoActivity"
            android:label="Memo" >
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="Schedule" >
        </activity>
        <activity
            android:name=".ScheduleInfoActivity"
            android:label="ScheduleInfo" >
        </activity>
        <activity
            android:name=".ShareCodeActivity"
            android:label="@string/title_activity_share_code" >
        </activity>
        <activity
            android:name=".BinderActivity"
            android:label="Binder" >
        </activity>
        <activity
            android:name=".ConfInfoActivity"
            android:label="ConferenceInfo" >
        </activity>
        <activity
            android:name=".SessionActivity"
            android:label="SessionList" >
        </activity>
        <activity
            android:name=".SessionInfoActivity"
            android:label="SessionInfo" >
        </activity>
        <activity
            android:name=".DoSurvActivity"
            android:label="Survey" >
        </activity>
        <activity
            android:name=".MakeSurvActivity"
            android:label="Make Survey" >
        </activity>
        <activity
            android:name=".StatActivity"
            android:label="Statistic" >
        </activity>
        <activity
            android:name=".ConfMapActivity"
            android:label="SurroundingMap" >
        </activity>
        <activity
            android:name=".IndoorMapActivity"
            android:label="IndoorMap" >
        </activity>
        <activity
            android:name=".IndoorMapInfoActivity"
            android:label="IndoorMap" >
        </activity>
        <activity
            android:name=".SurroundActivity"
            android:label="@string/title_activity_surround" >
        </activity>
        <activity
            android:name=".FindPeopleActivity"
            android:label="FindPeople"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SearchSessionActivity"
            android:label="FindSession"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <!--
        <activity
            android:name=".GoogleLoginActivity"
            android:label="@string/title_activity_google_login" >
        </activity>
        -->
        <activity
            android:name=".FacebookLoginActivity"
            android:label="@string/title_activity_facebook_login" >
        </activity>
        <activity
            android:name=".SponsorInfoActivity"
            android:label="SponsorInfo" >
        </activity>
        <activity
            android:name=".BusinessCardActivity"
            android:label="BusinessCard" >
        </activity>
        <activity
            android:name=".EmailLoginActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JoinActivity"
            android:label="Join" >
        </activity>
        <activity
            android:name=".MemoEditActivity"
            android:label="MemoEdit" >
        </activity>
        <activity
            android:name=".MyBusinessCardModifyActivity"
            android:label="Edit" >
        </activity>
        <activity
            android:name=".AddCouponActivity"
            android:label="Add Coupon" >
        </activity>
        <activity
            android:name=".CouponListActivity"
            android:label="CouponList" >
        </activity>
        <activity
            android:name=".CouponInfoActivity"
            android:label="CouponInfo" >
        </activity>
        <activity
            android:name=".FindReceiverActivity"
            android:label="FindReceiver"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ChattingActivity"
            android:label="Message"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".FindPeopleBusinessCardActivity"
            android:label=""
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".LoadingActivity"
            android:label=""
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SendAppointmentActivity"
            android:label="@string/title_activity_send_appointment" >
        </activity>
        <activity
            android:name=".ChooseSessionActivity"
            android:label="ChooseSession">
        </activity>


        <!-- 구글 GCM 서비스 실행을 위해 -->
        <receiver
            android:name="com.infjay.mice.backgroundservice.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.infjay.mice" />
            </intent-filter>
        </receiver>
        <!-- GCM 리시버에서 돌리는 서비스 -->
        <service
            android:name="com.infjay.mice.backgroundservice.GCMIntentService">
        </service>
    </application>

</manifest>
