<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infjay.mice" >

    <permission
        android:name="com.example.administrator.myapplication.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.testgooglemap.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBkJ7yPTvaC7UNAtmfD05BBL3gUYgJG2WE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
,       

        <!--
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        -->

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_activity_facebook_login" >
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity
            android:name=".AgendaActivity"
            android:label="Agenda" >
        </activity>
        <activity
            android:name=".MyBriefCaseActivity"
            android:label="BriefCase" >
        </activity>
        <activity
            android:name=".CouponActivity"
            android:label="Coupon" >
        </activity>
        <activity
            android:name=".MessengerActivity"
            android:label="Messenger" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="Map" >
        </activity>
        <activity
            android:name=".SurveyActivity"
            android:label="Survey" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="Search" >
        </activity>
        <activity
            android:name=".SponsorActivity"
            android:label="Sponsor" >
        </activity>
        <activity
            android:name=".SponsorInfoActivity"
            android:label="SponsorInfo" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="Setting" >
        </activity>
        <activity
            android:name=".MyBusinessCardActivity"
            android:label="MyBusinessCardActivity" >
        </activity>
        <activity
            android:name=".ViewBusinessCardActivity"
            android:label="ViewBusinessCardActivity" >
        </activity>
        <activity
            android:name=".MyCardHolderActivity"
            android:label="MyCardHolderActivity" >
        </activity>
        <activity
            android:name=".MemoActivity"
            android:label="@string/title_activity_memo" >
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule" >
        </activity>
        <activity
            android:name=".ScheduleInfoActivity"
            android:label="@string/title_activity_schedule_info" >
        </activity>
        <activity
            android:name=".ShareCodeActivity"
            android:label="@string/title_activity_share_code" >
        </activity>
        <activity
            android:name=".BinderActivity"
            android:label="@string/title_activity_binder" >
        </activity>
        <activity
            android:name=".ConfInfoActivity"
            android:label="@string/title_activity_conf_info" >
        </activity>
        <activity
            android:name=".SessionActivity"
            android:label="@string/title_activity_session" >
        </activity>
        <activity
            android:name=".SessionInfoActivity"
            android:label="@string/title_activity_session_info" >
        </activity>
        <activity
            android:name=".DoSurvActivity"
            android:label="@string/title_activity_do_surv" >
        </activity>
        <activity
            android:name=".MakeSurvActivity"
            android:label="@string/title_activity_make_surv" >
        </activity>
        <activity
            android:name=".StatActivity"
            android:label="@string/title_activity_stat" >
        </activity>
        <activity
            android:name=".ConfMapActivity"
            android:label="@string/title_activity_conf_map" >
        </activity>
        <activity
            android:name=".IndoorMapActivity"
            android:label="IndoorMapActivity" >
        </activity>
        <activity
            android:name=".IndoorMapInfoActivity"
            android:label="IndoorMapInfoActivity" >
        </activity>
        <activity
            android:name=".SurroundActivity"
            android:label="@string/title_activity_surround" >
        </activity>
        <activity
            android:name=".FindPeopleActivity"
            android:label="@string/title_activity_find_people"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SearchSessionActivity"
            android:label="@string/title_activity_search_session"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--
        <activity
            android:name=".GoogleLoginActivity"
            android:label="@string/title_activity_google_login" >
        </activity>
        -->
        <activity
            android:name=".FacebookLoginActivity"
            android:label="@string/title_activity_facebook_login" >
        </activity>
        <activity
            android:name=".SponsorDetailActivity"
            android:label="SponsorDetailActivity" >
        </activity>
        <activity
            android:name=".BusinessCardActivity"
            android:label="@string/title_activity_business_card" >
        </activity>
        <activity
            android:name=".EmailLoginActivity"
            android:label="@string/title_activity_email_login"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".JoinActivity"
            android:label="@string/title_activity_join" >
        </activity>
        <activity
            android:name=".MemoEditActivity"
            android:label="MemoEditActivity" >
        </activity>
        <activity
            android:name=".MyBusinessCardModifyActivity"
            android:label="MyBusinessCardModifyActivity" >
        </activity>
        <activity
            android:name=".AddCouponActivity"
            android:label="@string/title_activity_add_coupon" >
        </activity>
        <activity
            android:name=".CouponListActivity"
            android:label="@string/title_activity_coupon_list" >
        </activity>
        <activity
            android:name=".CouponInfoActivity"
            android:label="@string/title_activity_coupon_info" >
        </activity>
    </application>

</manifest>
