<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.iekorea.mc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.provider.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- GCM Service -->
    <permission
        android:name="kr.co.iekorea.mc.permission.C2D_MESSAGE"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="kr.co.iekorea.mc.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- mapping을 위한 api값 등록 -->
    <!--
         <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyB8BSJN_xvxr_SuqyZ6UWOWMdDUhDyu0n4"
        />
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Intro -->
        <activity
            android:name="kr.co.iekorea.mc.Intro_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- GCM -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="kr.co.iekorea.mc" />
            </intent-filter>
        </receiver>
        <!-- <service android:name=".GCMIntentService"></service> -->
        <service android:name="kr.co.iekorea.mc.GCMIntentService" >
        </service>

        <uses-library android:name="com.google.android.maps" />

        <!-- main -->
        <activity
            android:name="Main_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- login -->
        <activity
            android:name="Login_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Agenda -->
        <activity
            android:name="Agenda_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Agenda time activity -->
        <activity
            android:name="Agenda_Time_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Agenda Time Session Contents -->
        <activity
            android:name="kr.co.iekorea.mc.AgendaTimeSessionContents_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Binder -->
        <activity
            android:name="Binder_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Binder Data -->
        <activity
            android:name="kr.co.iekorea.mc.Binder_Data_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Binder Data Search -->
        <activity
            android:name="Binder_Data_Search_activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- binder data search contents -->
        <activity
            android:name="Binder_Data_Search_Contents_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- binder data session list activity -->
        <activity
            android:name="Binder_Data_SessionList_activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Binder Data Session Time Activity -->
        <activity
            android:name="Binder_Data_Session_Time_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Binder Data Time Session Contents Activity -->
        <activity
            android:name="BinderDataTimeSessionContents_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Binder Sponsor -->
        <activity
            android:name="Binder_Sponsor_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Binder Sponsor View -->
        <activity
            android:name="SponsorView_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- myBriefcase -->
        <activity
            android:name="MyBriefcase_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- message -->
        <activity
            android:name="Message_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- message appointments -->


        <!-- search activity -->
        <activity
            android:name="Search_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- search user activity -->
        <activity
            android:name="SearchUser_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- search stay -->
        <activity
            android:name="SearchStay_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- search stay detail -->
        <activity
            android:name="SearchStayDetail_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- search abstract activity -->
        <activity
            android:name="SearchAbstract_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- search abstract detail activity -->
        <activity
            android:name="SearchAbstractDetail_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- search user detail activity -->
        <activity
            android:name="SearchUserDetail_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- search user detail activity -->
        <activity
            android:name="MessageAppointmentsDetail_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Message Appointment detail add activity -->
        <activity
            android:name="MessageAppointmentDetailAdd_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- message appointments activity -->
        <activity
            android:name="MessageAppointment_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Message Send Message Activity -->
        <activity
            android:name="MessageSendMessage_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- message send message content activity -->
        <activity
            android:name="MessageSendMessageContent_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- message in box activity -->
        <activity
            android:name="MessageInbox_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- message in box detail activity -->
        <activity
            android:name="MessageInboxDetail_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- message out box activity -->
        <activity
            android:name="MessageOutbox_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- message out box detail activity -->
        <activity
            android:name="MessageOutboxDetail_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- message question activity -->
        <activity
            android:name="MessageQuestion_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- message question contents -->
        <activity
            android:name="MessageQuestionContent_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="MessageAppointmentsShow_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- message in box replay activity -->
        <activity
            android:name="MessageInboxReplay_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- binder send qna activity -->
        <activity
            android:name="BinderSendQnaContent_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- MyBriefcase Business card activity -->
        <activity
            android:name="MyBriefcaseBusinesscard_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- MyBriefcase Business card security activity -->
        <activity
            android:name="MyBriefcaseBusinesscardSecurity_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- MyBriefcase Business card modify activity -->
        <activity
            android:name="MyBriefcaseBusinesscardModify_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- MyBriefcase Business card Holder -->
        <activity
            android:name="MyBriefcaseBusinesscardHolder_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- MyBriefcase Business card Holder detail -->
        <activity
            android:name="MyBriefcaseBusinesscardHolderDetail_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- MyBriefcaseMemo Activity -->
        <activity
            android:name="MyBriefcaseMemo_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Map Activity -->
        <activity
            android:name="Map_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- QRCode -->
        <activity
            android:name="QRCode_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Setting Activity -->
        <activity
            android:name="Setting_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Survey Activity -->
        <activity
            android:name="Survey_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- my briefcase memo activity -->
        <activity
            android:name="MyBriefcaseMemoAdd_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- my briefcase memo detail activity -->
        <activity
            android:name="MyBriefcaseMemoDetail_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- my briefcase memo detail modify activity -->
        <activity
            android:name="MyBriefcaseMemoDetailModify_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- my briefcase Schedule activity -->
        <activity
            android:name="MyBriefcaseSchedule_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- schedule detail activity -->
        <activity
            android:name="MyBriefcaseScheduleDetail_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- schedule add activity -->
        <activity
            android:name="MyBriefcaseScheduleAdd_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- schedule modify activity -->
        <activity
            android:name="MyBriefcaseScheduleModify_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- my brief case present activity -->
        <activity
            android:name="MyBriefcasePresent_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- mybrief case present detail activity -->
        <activity
            android:name="MybriefcasePresentDetail_Acticity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- my brief case present check activity -->
        <activity
            android:name="MyBriefcasePresentCheck_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- etc activity -->
        <activity
            android:name="Etc_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- map detail activity -->
        <activity
            android:name="MapDetail_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        
        <!-- survey add activity -->
        <activity
            android:name="SurveyAdd_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" 
            />
        
        <!-- survey detail editer activity -->
        <activity android:name="SurveyDetailEditer_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        
        <!-- survey question add activity -->
        <activity android:name="SurveyQuestionAdd_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        
        <!-- info activity -->
        <activity android:name="Info_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        
        <!-- survey question view activity -->
        <activity android:name="SurveyQuestionView_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        
        <!-- survey question modify activity -->
        <activity android:name="SurveyQuestionModify_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        
        <!-- survey result activity -->
        <activity android:name="SurveyResult_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        
        <!-- survey respond activity -->
        <activity android:name="SurveyRespons_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        
        <activity android:name="MyBriefcaseBusinesscardHolderSecurity_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
    </application>

</manifest>